<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-3 mb-9">
  <% user_reactions.each do |user_reaction| %>
    <div class="col">
      <%= render partial: "/front/user_reactions/card", locals: { user_reaction: } %>
    </div>
  <% end %>
</div>
