<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-3 mb-9">
  <% alerts.each do |alert| %>
    <div class="col">
      <%= render partial: "/front/alerts/card", locals: { alert: } %>
    </div>
  <% end %>
</div>
