<div class="messages-list mb-3 flex-grow-1 d-flex flex-column justify-content-end">
  <%= turbo_frame_tag "messages" do %>
    <% messages.each do |message| %>
      <%= render partial: message %>
    <% end %>
  <% end %>
</div>
