/* Message :: INI */
.message .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message .card .card-body {
  padding: 10px 20px;
}

.message .card hr {
  height: 2px;
  /* background-color: var(--bs-primary-border-subtle); */
  opacity: 1;
  margin: 7px 0px;
}

.message.role-user .card {
  margin-left: auto !important;
  text-align: right !important;
  /* background-color: rgba(var(--bs-light-rgb), 1) !important; */
}

.message.role-assistant .card {
  margin-right: auto !important;
  text-align: left !important;
  /* background-color: rgba(var(--bs-white-rgb), 1) !important; */
}

.message.role-tool .card {
  margin-right: auto !important;
  text-align: left !important;
  /* background-color: var(--bs-primary-border-subtle) !important; */
  /* border: var(--bs-body-color), 2px solid !important; */
}

.message.role-tool .card hr {
  /* background-color: var(--bs-body-color); */
}

.message.language-chart_line .card,
.message.language-chart_column .card {
  width: 100%;
}

.message-id span {
  /* color: #989898; */
  font-weight: 400;
}

.message .on-hover {
  opacity: 0%;
  transition: opacity 0.3s ease-in-out;
}

.message .card:hover .on-hover {
  opacity: 100%;
}

.code-copy-icon {
  margin-top: -40px;
  margin-right: 10px;
}

.message ol p {
  margin: 1em 0 0 0;
}

.message-body h3 {
  margin-top: 1em;
}

.message pre:has(> code) {
  max-height: 50em;
}

.message .blockquote-footer {
  color: var(--secondary);
}

.message-id a {
  color: inherit;
}

/* .message.role-user{
  top: 0px;
  position: sticky;
  z-index: 9;
} */
/* Message :: END */

/* Message Form :: INI */
.message-form .form-control::placeholder {
  /* color: #BFBCB5 !important; */
  opacity: 1;
}

.message-form select {
  /* background-color: var(--bs-primary-border-subtle) !important; */
  /* border: var(--bs-body-color), 2px solid !important; */
}

.message-form .input-group .form-control {
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-form .input-group .btn {
  border-radius: 0 8px 8px 0;
  padding-right: 20px;
  padding-right: 18px;
  padding-left: 12px;
}

/* Button disabled style */
.message-form :disabled .on-disabled,
.message-form :not(disabled) .on-no-disabled {
  display: inline;
}

.message-form :disabled .on-no-disabled,
.message-form :not(disabled) .on-disabled {
  display: none;
}

.message-form .badge {
  position: absolute;
  margin-top: -12px;
  margin-left: 8px;
}

/* Message Form :: END */
