/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
.nav-steps {
  counter-reset: step;
  text-align: center;
  margin: 35px 0 20px;
  font-size: 0;
  white-space: nowrap;
}

.nav-steps > li {
  display: inline-block;
  position: relative;
  min-width: 200px;
  padding: 20px 0 0;
  border-top: 1px solid #444;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.nav-steps > li:before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: auto;
  line-height: 30px;
  text-align: center;
  background: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.nav-steps > li,
.nav-steps > li:before,
.nav-steps > li.active > a {
  color: #444;
}

.nav-steps > li.active:before {
  background: #337ab7;
  color: white;
}

.nav-steps > li.active ~ li > a,
.nav-steps > li.active ~ li:before {
  color: #aaa;
}
.nav-steps > li[data-disabled] {
  cursor: inherit;
}

.nav-steps > li.active ~ li {
  border-color: #ddd;
  cursor: default;
}

.nav-steps > li > a {
  padding: 0;
  color: inherit;
}

.nav-steps > li > a:hover,
.nav-steps > li > a:active {
  background: transparent;
}


.environment_badge {
  position: absolute;
  left: -52px;
  top: 30px;
  display: block;
  width: 200px;
  background: darkorange;
  background: -moz-linear-gradient(top, darkorange 0%, darken(darkorange, 20) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, darkorange), color-stop(100%, darken(darkorange, 20)));
  text-align: center;
  padding: 4px 15px 4px 3px;
  text-shadow: darken(darkorange, 20) 1px 1px 0;
  -webkit-transform: rotate(-45deg);  /* Saf3.1+, Chrome */
  -moz-transform: rotate(-45deg);  /* FF3.5+ */
  -ms-transform: rotate(-45deg);  /* IE9 */
  -o-transform: rotate(-45deg);  /* Opera 10.5 */
  transform: rotate(-45deg);
  box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
  -moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
  -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
  z-index: 1035;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 12px !important;
  color: white;
  text-transform: uppercase;
  line-height: 12px;
  display: block;
  font-family: Verdana;
}


.navbar-inverse .navbar-text{
  color: #F5F5F5;
  margin-top: 10px;
}
.navbar-inverse{
  background: #222222;
  color: #F5F5F5;
}
.navbar-inverse .navbar-brand{
  color: #F5F5F5;
}

.layout-bottom-navbar {
  transition: 0.2s ease-in;
}
.layout-bottom-navbar.is-hidden {
  display: block !important;
  transform: translateY(100%);
}

/* Message :: INI */
.message .card {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message .card hr {
  height: 2px;
  border: none;
  background-color: var(--bs-primary-border-subtle);
  opacity: 1;
  margin: 7px 0px;
}

.message.role-user .card {
  margin-left: auto !important;
  text-align: right !important;
  background-color: rgba(var(--bs-light-rgb), 1) !important;
}

.message.role-assistant .card {
  margin-right: auto !important;
  text-align: left !important;
  background-color: rgba(var(--bs-white-rgb), 1) !important;
}

.message.role-tool .card {
  margin-right: auto !important;
  text-align: left !important;
  background-color: var(--bs-primary-border-subtle) !important;
  border: var(--bs-body-color), 2px solid !important;
}

.message.role-tool .card hr {
  background-color: var(--bs-body-color);
}

.message.language-chart_line .card,
.message.language-chart_column .card {
  width: 100%;
}

.message-id span{
  color: #989898;
  font-weight: 400;
}

.message .on-hover {
  opacity: 0%;
  transition: opacity 0.3s ease-in-out;
}

.message .card:hover .on-hover {
  opacity: 100%;
}

.code-copy-icon {
  margin-top: -40px;
  margin-right: 10px;
}

.message ol p {
  margin: 1em 0 0 0;
}

.message pre:has(> code) {
  max-height: 50em;
}

/* Message :: END */

/* Message Form :: INI */
.message-form .form-control::placeholder {
  color: #BFBCB5 !important;
  opacity: 1;
}

.message-form select {
  background-color: var(--bs-primary-border-subtle) !important;
  border: var(--bs-body-color), 2px solid !important;
}

.message-form .input-group .form-control {
  border-radius: 8px 0 0 8px;
  border: none;
  padding: 16px;
  background-color: var(--bs-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-form .input-group .btn {
  border-radius: 0 8px 8px 0;
  padding-right: 20px;
}

/* Button disabled style */
.message-form :disabled .on-disabled,
.message-form :not(disabled) .on-no-disabled {
  display: inline;
}

.message-form :disabled .on-no-disabled,
.message-form :not(disabled) .on-disabled {
  display: none;
}

.message-form .badge {
  position: absolute;
  margin-top: -25px;
  margin-left: -10px;
}
/* Message Form :: END */
