<h1><%= conversation.title %></h1>

<div class="conversation flex-grow-1 d-flex flex-column">
  <%= render partial: "front/messages/list", locals: { conversation:, messages: conversation.messages.in_order } %>
</div>
