<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-3 mb-9">
  <% conversations.each do |conversation| %>
    <div class="col">
      <%= render partial: "/front/conversations/card", locals: { conversation: } %>
    </div>
  <% end %>
</div>
