<%= turbo_stream_from "#{conversation.id}_messages_stream" %>

<div class="p-3 p-sm-4">
  <div class="scrollbar" id="messages-list" data-controller="conversation-messages-list">
    <% conversation.subconversations.each do |subconversation| %>
      <div class="subconversation">
        <% subconversation.each do |message| %>
          <%= render partial: "front/messages/message", locals: { message: } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="message-form mt-5">
    <%= render partial: "/front/messages/form", locals: { conversation:, message: @message } %>
  </div>
</div>
