<%= turbo_stream_from "#{conversation.id}_messages_stream" %>

<div class="px-4 pt-0 my-4" id="conversation-box">
  <div class="scrollbar" id="messages-list" data-controller="conversation-messages-list">
    <% conversation.subconversations.each do |subconversation| %>
      <div class="subconversation">
        <% subconversation.each do |message| %>
          <%= render partial: "front/messages/message", locals: { message: } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="message-form mt-5">
    <%= render partial: "/front/messages/form", locals: { conversation:, message: @message } %>
  </div>

  <div class="d-flex justify-content-end">
    <div class="form-check form-switch align-self-end">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="show-debug-toggle"
        data-controller="conversation-show-debug-toggle"
        data-conversation-show-debug-toggle-main-div-id-value="conversation-box"
      >
      <label class="form-check-label" for="show-debug-toggle">Show dev tools</label>
    </div>
  </div>
</div>
