<div class="row row-cols-1 row-cols-xl-3 g-2">
  <% conversations.each do |conversation| %>
    <div class="col">
      <%= render partial: "/front/conversations/card", locals: { conversation: } %>
    </div>
  <% end %>
</div>
