<ul>
  <% current_front_user.conversations.no_from_alert.order_by_recent.each do |conversation| %>
    <li>
      <%=
        link_to(
          front_conversation_path(conversation),
          class: "nav-link d-flex align-items-center justify-content-center p-2 #{"active" if conversation == conversation_active}",
          aria: { selected: conversation == conversation_active },
          role: "tab",
          turbo: false
        ) do
      %>
        <div class="flex-1 d-sm-none d-xl-block">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="text-body fw-normal name line-clamp-1"><%= conversation.title %></h5>
            <p class="fs-10 text-body-tertiary text-opacity-85 mb-0 text-nowrap"><%= formatted_date_or_empty(conversation.last_message_at) %></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="fs-9 mb-0 line-clamp-1 text-body-tertiary text-opacity-85 message">Some small summary</p>
            <span class="badge badge-primary px-1 unread-badge"><%= conversation.messages.count %></span>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
