<div class="modal fade" id="negative-reaction-modal" tabindex="-1" aria-labelledby="negative-reaction-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Negative reaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="exampleFormControlTextarea1" class="form-label">Optional explanation</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="form-text">Please, explain why this is not a satisfactory answer for your question</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send negative reaction</button>
      </div>
    </div>
  </div>
</div>
