<% title t("views.conversations.show.title", :conversation_uuid => @conversation.uuid) %>

<div class="row mb-9 flex-grow-1">
  <!-- Conversation/NavBar :: INI -->
  <div class="d-none d-md-block col-md-4 col-xl-3 mt-4">
    <%= render partial: "front/conversations/nav_bar", locals: { conversation_active: @conversation } %>
  </div>
  <!-- Conversation/NavBar :: END -->

  <div class="col-md-8 col-xl-8 col-xxl-6 mx-auto d-flex flex-column justify-content-end">
    <%= render partial: "front/conversations/conversation", locals: { conversation: @conversation, active: true } %>
  </div>
</div>
